.carousel{
    background-color: #f6f6f6;
    padding: 81px 0;
    &__inner{
        display: flex;
        width: 650px;
        height: 500px;
        margin: 0 auto;
        
        justify-content: center; 
    };
    
   
}
.container_carousel{
        display: flex;
        flex-direction: row;
        
    }
